html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgrey;
    border-spacing: 0;
    overflow: hidden;
}

/* ---------------------------------------------------------------------------*/
/* --------------------------------FONTIT-------------------------------------*/
/* ---------------------------------------------------------------------------*/

p.normal {
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 1.25em;
    word-spacing: 2px;
    letter-spacing: 1px;
}

p.register {
    width: 100%;
    padding: 10px;
    margin: 2px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Verdana", Geneva, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
}

p.reghead {
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 1.25em;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
}

p.menu {
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 2em;
}

p.settings {
    width: 100%;
    padding: 10px;
    margin: 2px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Verdana", Geneva, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
}

p.info {
    font-size: 1.25em;
    font-family: "Verdana", Geneva, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 1.5em;
    margin: 0;
}

p.loggedin {
    margin-top: auto;
    font-size: 0.9em;
    font-family: "Verdana", Geneva, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 1em;
    background-color: rgba(255,255,255, .4);
    border: 1px solid rgb(185, 70, 25);  
}

h1.settings{
    font-size: 2em;
    font-family: "Verdana", Geneva, sans-serif;
    word-spacing: 2px;
    letter-spacing: 5px;
    margin-top: 1em;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

.center {
    margin-left: auto;
    margin-right: auto;
}

.settingstausta {
    width: 100%;
    height: 110vh;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

.settingsotsikko {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 8.5em;
    margin-top: -0.5em;
    background: -webkit-linear-gradient(to bottom, #E0E0E0 0%, white 80%);
    background: -o-linear-gradient(to bottom, #E0E0E0 0%, white 80%);
    background: -moz-linear-gradient(to bottom, #E0E0E0 0%, white 80%);
    background: linear-gradient(to bottom, #E0E0E0 0%, white 80%);
    border-bottom: 2px solid rgb(185, 70, 25);
}

.settingstausta1 {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.settingssisalto {
    position: absolute;
    z-index: 501;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    box-sizing: border-box;
    margin-top: 8em;
}

.settingshead {
    width: 100%;
    border-bottom: 4px double rgb(185, 70, 25);
}

.settingsheader {
    width: 49%;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 1.5em;
    word-spacing: 2px;
    letter-spacing: 1px;
    display: inline-block;
}

.settingsheader2 {
    width: 49%;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 1.5em;
    word-spacing: 2px;
    letter-spacing: 1px;
    display: inline-block;
    text-align: right;
    float: right;
}

.hiddencontent {
    width: 100%;
}

.formi {
    margin-top: 3em;
    width: 49%;
    display: inline-block;
}

.infosisalto {
    margin-top: 5.8em;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    float: right;
    background: -webkit-linear-gradient(left, rgba(255,255,255, .4), rgba(255,255,255, .05));
    background: -o-linear-gradient(left, rgba(255,255,255, .4), rgba(255,255,255, .05));
    background: -moz-linear-gradient(left, rgba(255,255,255, .4), rgba(255,255,255, .05));
    background: linear-gradient(left, rgba(255,255,255, .4), rgba(255,255,255, .05));
/*    background-color: rgba(255,255,255, .4);*/
    border-left: 2px solid rgb(185, 70 , 25);
}

.settingsimage {
    width: 100%;
    position: absolute;
    margin-top: 8.1em;
}

/* ---------------------------------------------------------------------------*/
/* --------------------------------MEDIA QUERY--------------------------------*/
/* ---------------------------------------------------------------------------*/


@media only screen and (orientation: landscape) {
    .settingstausta1 {
        width: 50%;
        margin: auto;
    }
}

@media only screen and (orientation: landscape) {
    body {
        overflow: auto;
    }
}


@media only screen 
and (min-device-width : 368px) 
and (max-device-width : 1924px) 
and (orientation : portrait) { 
    .settingsimage{
        opacity: .1;
    }
}
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/



hr {   
    float: left;
    position: absolute;
    opacity: 0.3;
    width: 85%;
}



.logonpaikka{
    position: absolute;
    margin-top: 0.55em;  
    margin-left: 0.5em;
    height: 3em;
}


.settingslogin {
    margin-top: 5em;
    width: 13em;
    height: 5em;
    font-size: 1.25em;
    font-family: "Verdana", Geneva, sans-serif;
}

input[type=submit] {
    border: 2px solid rgb(185,70,25);
    padding: 0.5em;
    margin: 1px;
    color: white;
    background-color: rgb(185,70,25);
    box-sizing: border-box;
    font-size: 1em;
    font-family: "Verdana", Geneva, sans-serif;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #555555;
    color: white;
    border: 2px solid rgb(185,70,25);
}

.syotemitat {
    width: 90%;
    padding: 10px;
    margin: 2px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-family: "Verdana", Geneva, sans-serif;
}

.reg {
    width: 100%;
    padding: 10px;
    margin: 2px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-family: "Verdana", Geneva, sans-serif;
}


select {
    width: 50%;
    height: 3em;
    border: 1px solid rgba(0,0,0, .2);
    margin-bottom: 0.5em;
    box-sizing: border-box;
    background-color: white;
    font-size: 0.9em;
    font-family: "Verdana", Geneva, sans-serif;
}

