html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgrey;
    border-spacing: 0;
}

p.normal {
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 1.25em;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/*
p.menu {
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 2em;
}
*/

p.loggedin {
    margin-top: auto;
    font-size: 0.9em;
    font-family: "Verdana", Geneva, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 1em;
    background-color: rgba(255,255,255, .4);
    border: 1px solid rgb(185,70,25);  
}

.tausta {
    width: 100%;
    display: flex;
    margin: auto;
    position: absolute;
}

.otsikko {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 8.5em;
    margin-top: -0.5em;
    background: linear-gradient(to bottom, #E0E0E0 0%, white 80%);
    border-bottom: 2px solid rgb(185,70,25);
}

.logo {
    z-index: 999;
    position: absolute;
    top: 50%;
    margin-top: 8px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (orientation: portrait) {
    .logo {
        margin-left: 16.5em;
        width: 10em;
    }
}

.profiilikuva {
    position: relative;
    float: right;
    width: 6.5em;
    border: 1px solid rgb(185,70,25);
    margin-top: 19px;
    margin-right: 11px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.profiilikuva:hover {
    opacity: 0.5;
    border: 1px solid rgb(185,70,25);
    cursor: pointer;
}

.user {
    position: relative;
    float: right;
    margin-top: 3.25em;
    margin-right: 2em;
}

.tausta1 {
    width: 100%;
    height: 100%;
    padding-top: 200px;
    margin: auto;
    background-color: whitesmoke;
}

@media only screen and (orientation: landscape) {
    .tausta1 {
        width: 70%;
        margin: auto;
    }
}

.content {
    margin-top: 0em;
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
}

.fimageframe {
    border-top: 0.5px solid rgb(185,70,25);
    border-bottom: 0.5px solid rgb(185,70,25);
    width: 100%;
    margin: auto;
    max-height: 80vh;
    background-color: rgb(250, 250, 250);
}

.fimage {
    display: block;
    margin: auto;
    max-height: 80vh;
    max-width: 100%;
    height: auto;
}

.imagename, .date, .username, .comments, .ratings {
    width: 33.3333%;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 1.25em;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.imagename, .username, .comments {
    border-right: 1px solid rgb(185,70,25);
}

.username, .comments, .ratings {
    margin-bottom: 1em;
}




